<nav>
    <!-- A diferencia del "href" que recarga la página aqui se usa "routerLink" 
        para solo cargar el contenido que se necesita sin recargar la página 
        a esto se le llama single page aplication-->
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/demo" routerLinkActive="active">Demo</a>
    <!-- el "routerLinkActive" sirve para colocarle la clase de css en "header.component.scss" cuando estamos 
    en la ruta indicada -->
</nav>
