<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Confirmación carrito de compras</ng-template>
        <div *ngIf="(products$ | async) as productsObservable">
            <!-- En el div asignamos a la variable "products$ | async" el nombre de productsObservable para no declararla más de una vez dentro del div -->
            <p *ngIf="productsObservable?.length === 0">No hay productos</p>
            <div class="row" *ngFor="let product of (productsObservable | prodCount: 'id')">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <img class="image" [src]="product.image" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="box">
                        {{product.title}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="box">
                        {{product.price}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                       <p>Cantidad: {{product.count}}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="removeProd(product.id)">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </div>
                </div>
            </div>

            <!-- <ul>
                <li *ngFor="let product of (productsObservable)">
                    {{product.title}}
                </li>
            </ul> -->
        </div>        
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Datos personales</ng-template>
        <h1>Content info</h1>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Pago</ng-template>
        <h1>Pagos</h1>
    </mat-step>
</mat-horizontal-stepper>

<div class="example-button-row">    
    <button mat-raised-button color="primary" routerLink="/products">Agregar más productos</button>    
</div>


