<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs col-md-4">
                <div class="box">
                    <h3>
                        Productos
                    </h3>
                    <ul>
                        <li>
                            <a routerLink="/admin" [queryParams]="{ type: 'news'}">Nuevos productos</a>
                        </li>
                        <li>
                            <a routerLink="/products" [queryParams]="{ type: 'offer'}">En oferta</a>
                        </li>
                        <li>
                            <a routerLink="/demo" [queryParams]="{ type: 'latest'}">Últimos productos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Acerca de PlatziStore</h3>
                    <ul>
                        <li>
                            <a routerLink="/contact">Nuevos productos</a>
                        </li>
                        <li>
                            <a routerLink="/home">Nuestras tiendas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Contacto</h3>
                    <!-- <input [formControl]="emailField" type="text"> -->
                    <!-- {{ emailField.valid}} {{emailField.invalid}} -->
                    <!-- <button *ngIf="emailField.valid" (click)="sendMail()">Enviar Correo</button> -->
                    <!-- con el ngIf podemos validar si el campo de arriba cumple con la condición definida en footer.component.ts -->
                    <!-- <p *ngIf="emailField.invalid">Campo erróneo. Por favor revisar</p> -->
                    
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" [formControl]="emailField" placeholder="pat@example.com">
                            <mat-error *ngIf="emailField.hasError('email') && !emailField.hasError('required')">
                            Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailField.hasError('required')">
                            Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <label *ngIf="emailField.valid">Boton que funciona con ngIf</label>
                        <button mat-raised-button *ngIf="emailField.valid" (click)="sendMail()">Enviar Correo</button>

                        <label *ngIf="emailField.valid">Boton que funciona con disable</label>
                        <button mat-raised-button [disabled]="emailField.invalid" (click)="sendMail()">Enviar Correo</button>
                 

                    <p>Carlos Eduardo Cardona B</p>
                    <p>Cel +57 3188204607</p>
                </div>
            </div>
        </div>
    </div>
</footer>
