<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs col-md-4">
                <div class="box">
                    <h3>
                        Productos
                    </h3>
                    <ul>
                        <li>
                            <a routerLink="/admin" [queryParams]="{ type: 'news'}">Nuevos productos</a>
                        </li>
                        <li>
                            <a routerLink="/products" [queryParams]="{ type: 'offer'}">En oferta</a>
                        </li>
                        <li>
                            <a routerLink="/demo" [queryParams]="{ type: 'latest'}">Últimos productos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Acerca de PlatziStore</h3>
                    <ul>
                        <li>
                            <a routerLink="/contact">Nuevos productos</a>
                        </li>
                        <li>
                            <a routerLink="/home">Nuestras tiendas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Contacto</h3>
                    <p>Carlos Eduardo Cardona B</p>
                    <p>Cel +57 3188204607</p>
                </div>
            </div>
        </div>
    </div>
</footer>
